#para1{
  
    color:rgb(12, 18, 18);
    height: 300px;
    width: 200px;
}
#para2{
    height: 300px;
    width: 200px;
    margin-left: 20px;
    padding-left: 30px;
    background-color: beige;
    border: 3px solid;
}
body{
    background-color: rgb(56, 202, 153);
}
h2{
    color: saddlebrown;
}
.class1{
    color:rgb(74, 71, 71);
    margin-left: 20px;
}
.class2{
    color: rgb(228, 222, 222);
    margin-left: 20px;
}
a[href^='mailto']::before {
    content: '📧 ';
  }
  
  a[href^='tel']::before {
    content: '📞 ';
  }
  .class3{
    font-size: 40px;
    color: saddlebrown;
    text-decoration-line: underline ;
    text-decoration-style: dotted;
    text-decoration-color: black;
    margin-left: 50px;
   

  }
  .class4{
    font-size: 20px;
    color: black;
    margin-left: 20px;
  }
  #title1{
    font-size: 30px;
  }
  #title2{
    font-size: 50px;
    margin-top: 10px;
    color: saddlebrown;
    
  }
   